@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Macondo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1F2235;
    --secondary-color: #F24B59;
    --text-color: #ffffff;
    --another-color: #13141e;
}

.text-rouge{
    color: var(--secondary-color);
}

body {
    font-family: "Gelasio", serif;
    background-color: var(--primary-color);
    color: var(--text-color);
}

footer {
    background-color: #131415;
    /* border-top: 2px solid var(--secondary-color); */
    /* margin-top: 4rem; */
    padding-top: 3rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

/* Footer Section ---------------------------------------------- */
.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 2rem;
    /* padding-bottom: 2rem; */
    margin-bottom: 1rem;
    /* border-bottom: 1px solid #4A4C5F; Une couleur intermédiaire */
}

.footer-tagline {
    font-size: 0.875rem; /* text-sm */
    margin-top: 0.75rem;
    font-style: italic;
    letter-spacing: 0.5px;
    color: #b0b2c3; /* Un blanc plus doux */
    position: relative;
    padding-left: 25px;
}

.footer-tagline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 15px;
    height: 2px;
    background-color: var(--secondary-color);
    transform: translateY(-50%);
}

/* .footer-links { */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 1rem; */
    
/* } */

.footer-link {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
}

.footer-link:hover {
    color: var(--secondary-color);
}

.social-icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
    transform: translateY(-3px);
}

.footer-bottom {
    text-align: center;
    font-size: 0.9rem;
    color: #8E8F9A; /* Texte légèrement estompé */
    padding-bottom: 1rem;
}

.newsletter-form {
    position: relative;
    display: flex;
    max-width: 300px;
}

.newsletter-input {
    width: 100%;
    padding: 0.75rem 3.5rem 0.75rem 1rem;
    border: 2px solid #4A4C5F;
    border-radius: 50px;
    background-color: transparent;
    color: var(--text-color);
    transition: border-color 0.3s;
}

.newsletter-input:focus {
    outline: none;
    border-color: var(--secondary-color);
}

.newsletter-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}


.footer-separator {
    width: 2px; /* Épaisseur du séparateur */
    background-color: #4A4C5F; /* Couleur intermédiaire discrète */
    align-self: stretch; /* S'étire sur toute la hauteur du conteneur flex */
}

/* Footer Section end  ---------------------------------------------- */

/* acceuil ---------------------------------------------- */
.accueil{
    background-color: var(--primary-color);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
}
.enfant{
    /* background-color: var(--text-color); */
    height: 100%;
    display: flex;
    justify-content: end;
    padding-right: 4rem;
    align-items: center;
}

.imgContenaire{
    width: 50%;
    height: 80%;
    border-radius: 20px;
    background-color: gray;
    position:relative;
    border: solid 5px  var(--secondary-color);
    /* margin-bottom: 20%; */
    z-index: 200;
}

/* .imgContenaire::after{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width:10%;
    height: 10%;
    border-radius: 20%;
    background-color: #f24b59;
    z-index:0 ;
}

.imgContenaire::before{
    content: '';
    position: absolute;
    bottom: 0%;
    right: 0%;
    width:20%;
    height: 20%;
    border-radius: 20%;
    background-color: #f2bd4b;
    z-index: 3;
} */

.imgContenaire img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    /* border: solid 2px var(--text-color); */
}

.enfant2{
    /* background-color: green; */
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 8rem;
}

.about{
    border:solid 1px #bd8204;
    padding-block: 0.3rem;
    padding-inline: 0.6rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 0.8rem;
}

.about:hover{
    background-color: #bd8204;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s;
}

.description{
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 2rem;
    font-weight: bold;
}

.rectangleInfos{
    background-color: var(--another-color);
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.info{
     padding: 1rem;
}

.label{
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: var(--secondary-color);
}

.btnCont{
    margin-top: 2rem;
    /* border: solid 2px var(--secondary-color); */
    width: fit-content;
    /* height: auto; */
    padding: 1rem;
}

.btnContact{
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 0.7rem 2rem;
    border-radius: 9999px; /* Fully rounded */
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.btnContact:hover{
    background-color: #fbfbfb; /* Darker red on hover */
    cursor: pointer;
    border: solid 2px var(--secondary-color);
    color: var(--secondary-color);
    transform: scale(1.05);
}

.btnDownload{
    background-color: transparent;
    color: var(--secondary-color);
    padding: 0.55rem 2rem;
    border-radius: 9999px; /* Fully rounded */
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    border: solid 2px var(--text-color);
    margin-left: 1rem;
}

.btnDownload:hover{
    background-color: var(--secondary-color); /* Darker red on hover */
    cursor: pointer;
    color: var(--text-color);
    transform: scale(1.05);
}





/* acceuil end ---------------------------------------------- */


/* All sections ------------------------------------------------------------------ */
    .skills, .services, .projects, .contact{
        background-color: var(--another-color);
        padding: 4rem 0rem;
    }
    /* skills ---------- */
    .skillCont{
        display: flex;
        gap: 2rem;
        /* flex-wrap: wrap; */
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-inline: 4rem;
    }

    .skillTitle{
        font-size: 2rem;
        font-weight: bold;
    }
    .spanSkills{
        color: var(--secondary-color);
    }

    .skillDescription{
        
        text-align: center;
        line-height: 1.5rem;
        color: #b0b2c3; /* Un blanc plus doux */
        max-width: 600px;
    }


    .skillsGrid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin-top: 2rem;
        width: 100%;
    }

    .skillBox{
        /* background-color: var(--primary-color); */
        /* box-shadow: 1px 0px 1px rgba(223, 223, 223, 0.374); */
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        padding: 2rem;
        border-radius: 10px;
        text-align: center;
        transition: transform 0.3s;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skillIcon{
        font-size: 3rem;
        color: white;
        margin-bottom: 1rem;
    }

    .xd{
        width: 3rem;
        height: 3rem;
        margin-bottom: 1rem;
        animation-name: fa-spin;
    }
    .animate-spin-icon {
        animation: spin 2s linear infinite; 
        display: inline-block; 
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    .animate-fade-in-icon {
        opacity: 0; 
        animation: fadeIn 1s ease-out forwards infinite;
    }

    /* Définition de l'animation d'apparition */
    @keyframes fadeIn {
        from {
            opacity: 0;
            /* Optionnel : déplacer légèrement l'élément vers le haut ou le bas au début */
            transform: translateY(20px); 
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .skillName{
        font-size: 1.1rem;
        font-weight: 800;
    }

    .progressBare{
        padding-inline: 6rem;
        padding-block: 0.2rem;
        background-color: var(--secondary-color);
        border-radius: 1rem;
        margin-top: 1rem;
    }

/* End --------------------------------------------------------------------------------------------------------- */

/* 404 page ---------------------------------------------- */
.error-section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--another-color);
    position: relative;
}

.error-title {
    font-size: 10rem;
    font-weight: bold;
    color: var(--text-color);
    position: relative;
    z-index: 2;
}

.error-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, var(--secondary-color) 10%, transparent 60%);
    filter: blur(50px);
    z-index: -1;
}

/* 404 page end ---------------------------------------------- */


/* Header ---------------------------------------------------------- */

.talk{
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;   
    border-radius: 9999px; /* Fully rounded */
    font-weight: 600;
    /* transition: background-color 0.3s; */
}
.talk:hover{
    transform: scale(1.5);
    background-color: #fbfbfb; /* Darker red on hover */
    cursor: pointer;
    border: solid 2px var(--secondary-color);
    color: var(--secondary-color);
}

.rp{
    /* display: flex; */
    display: inline-flex;
    font-weight: bold;
    font-size: 1rem; /* text-xl */
    width: 35px;
    height:35px;
    background-color: var(--secondary-color);
    color: white;
    justify-content: center;
    align-items: center;
    /* padding-block: 1.5%; */

    /* border-radius: 50%; */
}

/* header end ------------------------------------------------------------ */

/* image de font en arrière plan --------------------------------------- */

/* image de font en arrière plan end ----------------------------------- */

/*propriétét tailwind qui ne reponde pas */
.mt-6{
    margin-top: 1.5rem;
}

.px-6 {
    padding-inline: 1.5rem;
} 

.py-3{
    padding-block: 0.75rem;
}
.pt-4{
    padding-top: 1rem;
} .pb-4{
    padding-bottom: 1rem;
}
.pl-8{
    padding-left: 2rem;
}
.px-8{
    padding-inline: 8rem;
}

.p-4{
    padding: 1rem;
}

.px-4{
    padding-inline: 1rem
}

.px-4:hover{
    color: var(--secondary-color);
    transition: 0.3s;
    cursor: pointer;
}

.mt-12{
    margin-top: 3rem;
}

.mb-8{
    margin-bottom: 2rem;
}

.mb-2{
    margin-bottom: 0.5rem;
}

.pl-8{
    padding-left: 2rem;
}

.p-6{
    padding: 1.5rem;
}

.gap-4{
    gap: 1rem;
}

.mb-4{
    margin-bottom: 1rem;
}

.mb-6{
    margin-bottom: 1.5rem;
}

.mt-2{
    margin-top: 0.5rem;
}

.w-1\/5{
    width: 20%;
}
.w-screen{
    width: 100vw;
}
.w-full{
    width: 100%;
}
.w-1\/4{
    width: 25%;
}

.w-1\/3{
    width: 33.3333%;
}

.w-4\/5{
    width: 80%;
}
.w-3\/5{
    width: 60%;
}
.w-2\/5{
    width: 40%;
}

.w-1\/3{
    width: 33.3333%;
}

.w-1\/2{
    width: 50%;
}


.h-4\/5{
    height: 80%;
}
.h-3\/5{
    height: 60%;
}
.h-2\/5{
    height: 40%;
}

.h-1\/3{
    height  : 33.3333%;
}

.h-1\/2{
    height: 50%;
}



.h-1\/5{
    height: 20%;
}
.h-screen{
    height: 100vh;
}
.h-full{
    height: 100%;
}
.h-1\/4{
    height: 25%;
}

.h-1\/3{
    height  : 33.3333%;
}

.h-1\/2{
    height: 50%;
}


